/* 상단 메뉴 */
#sub2_nav1{
	border: 0px solid blue;
	width: 100%;
	/* height: 95px; */
	height: auto;
	/* margin-top: 50px; */
    background-color: gray;
}
#sub2_nav1 .outer{
	width: 100%;
	height: 100%;
	margin: 0 auto;
}
#sub2_nav1 .outer .inner{
	width: 83%;
	height: 100%;
	margin: 0 auto;
}
#sub2_nav1 .outer .inner ul.inner-tab{
	border: 0px solid yellow;
	text-align: center;
	/* padding: 30px 0; */
	padding: 3vh 0;
}
#sub2_nav1 .outer .inner ul.inner-tab li{
	border: 0px solid #fff;
	display: inline;
	/* padding: 0 30px; */
	padding: 0 1.56vw;
	/* margin-right: -7px; */
	margin-right: -0.36vw;
}
#sub2_nav1 .outer .inner ul.inner-tab li a{
	font-family: 'NanumGothicBold';
	/* font-size: 24px; */
	font-size: 1.5vw;
	color:black;
}
#sub2_nav1 .outer .inner ul.inner-tab li:nth-child(2) a{color: white;}
#sub2_nav1 .outer .inner ul.inner-tab li:first-child{padding-left: 0; background: none;}
#sub2_nav1 .outer .inner ul.inner-tab li:last-child{padding-right: 0;}

#left_side{border: 0px solid red; width: 12%; height: 100%; overflow: hidden; position: relative; float: left;}


/* 왼쪽 사이드 */
.sidenav {
    /* border:1px solid green; */
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:rgba(0, 0, 0, 0.9);
    transition: 0.5s;
    overflow: hidden;
}

    .sidenav a {
        /* border:1px solid blue; */
        /* padding: 8px 8px 8px 32px; */
        text-decoration: none;
        font-family: 'NanumGothicBold';
        /* font-size: 50px; */
        font-size: 2vw;
        color: #818181;
        display: block;
        transition: 0.3s;
        text-align: center;
        /* margin-top: 60px; */
        margin-top: 4vh;
    }
    
    .sidenav a:hover {
        color: #f1f1f1;
    }
        
    .sidenav a.closebtn {
        /* border:1px solid red; */
        position: absolute;
        /* top: -60px; */
        top: -5vh;
        /* right: 120px; */
        right: 6.25vw;
        /* font-size: 60px; */
        font-size: 3.13vw;
}

    .sidenav .menu a {
        cursor:pointer;
    }

.hide {
    display:none;
}
    .hide a{
        /* border: 5px solid red; */
        font-family: 'NanumGothic';
        /* font-size: 28px; */
        font-size: 1vw;
        /* margin-top: 20px; */
        margin-top: 3vh;
    }

/* 가운데 세션 */
#midde{width: 75%; height: 100%; float: left; overflow: hidden; position: relative;}

    /* 그림판 */
    .drawing{position: absolute; right: 10px; top: 10px; background: none;}
    .drawing img{width: 50px; height: 50px; margin: 0px !important;}
    /* 가운데 이미지 */
    #midde img{display: block; margin: 20px auto 0 auto;}


/* 오른쪽 사이드 */
#right_side{width: 13%; height: 100%; float: left; overflow: hidden; border-left: 2px solid gray; border-style: dotted;}